@import 'bootstrap/scss/bootstrap.scss';

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-control.is-invalid {
    background-image: none;
    border-color: #ced4da;
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        border-color: #ced4da;
    }
}

form{
    
    .error-message {
        display: none;
    }

    &.submitted {
        .error-message {
            display: inline-block;
        }

        .form-control.is-invalid {
            border-color:#dc3545;
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
                border-color: #dc3545;
            }
        }
    }
    
}
